In [ ]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier # biblioteca do knn
from sklearn.model_selection import train_test_split # validação cruzada

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/gimn0/ia_car_evaluation/main/data/car.data', names=['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'target']) # lê car.data, cria o dataframe e nomes nas colunas
df # mostra o dataframe

     buying  maint  doors persons lug_boot safety target
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   target    1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [ ]:
df.isnull().sum() # mostra quantos inputs nulos existem em cada coluna

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
target      0
dtype: int64

In [ ]:
df.buying.replace( ('vhigh','high','med','low'), (1, 2, 3, 4), inplace=True )
df.maint.replace( ('vhigh','high','med','low'), (1, 2, 3, 4), inplace=True )
df.doors.replace( ('2','3','4','5more'), (1, 2, 3, 4), inplace=True )
df.persons.replace( ('2','4','more'), (1, 2, 3), inplace=True )
df.lug_boot.replace( ('small','med','big'), (1, 2, 3), inplace=True )
df.safety.replace( ('low','med','high'), (1, 2, 3), inplace=True )
df.target.replace( ('unacc','acc','good','vgood'), (1, 2, 3, 4), inplace=True )
# replace troca a tipagem objeto para int para que possamos aplicar a validação cruzada e determinar o knn score 
df

      buying  maint  doors  persons  lug_boot  safety  target
0          1      1      1        1         1       1       1
1          1      1      1        1         1       2       1
2          1      1      1        1         1       3       1
3          1      1      1        1         2       1       1
4          1      1      1        1         2       2       1
...      ...    ...    ...      ...       ...     ...     ...
1723       4      4      4        3         2       2       3
1724       4      4      4        3         2       3       4
1725       4      4      4        3         3       1       1
1726       4      4      4        3         3       2       3
1727       4      4      4        3         3       3       4

[1728 rows x 7 columns]

In [ ]:
data = df[['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety']] # entradas
target = df.target # saídas

data_train, data_test, target_train, target_test = train_test_split(data, target, test_size = 0.2, random_state = 50) # validação cruzada

In [ ]:
knn = KNeighborsClassifier(n_neighbors = 9) # 9 vizinhos é o que possibilita o melhor knn score
knn.fit(data_train, target_train)

print(knn.score(data_test, target_test))

0.9566473988439307